/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Raleway|Caveat+Brush');

* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: #4D0C64;
}

pre {
  color: white;
  position: absolute;
}